header{ background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.imag {
    width: 1200px;
}
.container {
    display: flex;
}
.Artofwar-titulo-dois{ background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
}